@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/staticfiles1/staticfiles2/css/favicon.png"/>
    <link rel="stylesheet" href="~/staticfiles1/staticfiles2/css/style.css"/>
    <link rel="stylesheet" href="~/staticfiles1/staticfiles2/css/light.css" id="light-theme"/>
    <link rel="stylesheet" href="~/staticfiles1/staticfiles2/css/dark.css" id="dark-theme"/>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="~/staticfiles1/staticfiles2/js/dom.js"></script>
    <script>loadTheme()</script>
    <title>Страница не найдена</title>
</head>
<body style="text-align: center">
<div>
    <h1>404</h1>
    <p>Ой! Страница не найдена.</p>
    <p>Кажется, мы не можем найти страницу, которую вы ищете.</p>
    <a href="/">Вернуться на главную</a>
</div>
</body>
</html>