@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.css";
body {
    background-color: white;
    color: #0d1117;
}
header{
    border-bottom: 2px solid #0d1117;
    color:#0d1117;
    background-color: white;
}
code::-webkit-scrollbar-track {
    background: transparent;
}

code::-webkit-scrollbar-thumb {
    background-color: #0d1117;
}

.menu-button {
    background-color: white;
}
.menu-button span {
    background-color: #0d1117;
}
.vertical-menu-content{
    background-color:white;
    border-color: #0d1117;
}
.item{
    background-color: #555555;
    color: white;
}
.item:hover {
    background-color: lightblue;
}
table{
    border: 2px solid #0d1117;
}
td, th{
    border: 3px solid #0d1117;
}
code {
    color: #0d1117;
}
.selected {
    background-color: lightblue;
    color: black;
}
.copy-button {
    background-color: #0d1117;
    color: white;
    border: none;
}
pre {
    border:2px solid #0d1117;
}
.theme-switcher {
    background-image: url("icons/theme-switch-light.svg");
}
.theme-switcher:hover {
    background-image: url("icons/theme-switch-light-hover.svg");
}
.tutorial {
    background-color: lightblue;
}
a {
    color: darkslateblue;
}
.card {
    background-color: #e6f7ff; /* Светло-голубой фон карточки */
    color: #333; /* Темный текст */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Тень */
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Более сильная тень */
}

.card-title {
    color: #003366; /* Темно-синий цвет заголовка */
}

.card-description {
    color: #666; /* Серый цвет описания */
}

.card-button {
    background-color: #007BFF; /* Насыщенный синий фон кнопки */
    color: #fff; /* Белый текст */
}

.card-button:hover {
    background-color: #0056b3; /* Темно-синий фон при наведении */
}
.navigation-panel a, .sub-navigation-panel a {
    background-color: #0d1117;
    color: white;
}
header a {
    color: #0d1117;
}
@media (hover: none) {
    .theme-switcher:active {
        background-image: url("icons/theme-switch-light-hover.svg");
    }
}